/*	IMPORTS	*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800);


body {
	width:100%;
	height: 100%;
	margin: 0;
	font-family: "lucida grande", Tahoma, Verdana, Arial, Sans-serif;
}

/*	ESTRUCTURA	*/
#wrapper {
	clear:both;
	width: 100%;
	min-width: 1024px;
	display: inline-block;
}

#header {
	width: 100%;
	height: 100px;
	background-color: black;
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;

}

	#header-logo {
		width: 20%;
		height: 50px;
		float: left;
		border-width: 0px;
	}
	#header-search {
		width: 60%;
		height: 50px;
		float: left;
		border-width: 0px;
		vertical-align: middle;
		text-align: center;
	}
	#header-options {
		width: 20%;
		height: 50px;
		border-width: 0px;
		float: left;
	}

#content {
	position: absolute;
	top: 100px;
	overflow: auto;
	left: 0px;
	right: 0px;
	z-index:0;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat-x;
}

.content-large{
	bottom: 30px;
	-webkit-transition:bottom 0.4s;
	-moz-transition:bottom 0.4s;
	-ms-transition:bottom 0.4s;
	transition:bottom 0.4s;
}
.content-small {
	bottom: 90px;
	-webkit-transition:bottom 0.4s;
	-moz-transition:bottom 0.4s;
	-ms-transition:bottom 0.4s;
	transition:bottom 0.4s;
}

#content_music{
	width: 1000px;
	border: solid 2px;
	margin: 0 auto;
	overflow: hidden; 
	background-color: yellow;
	margin-bottom: 30px;
	margin-top: 30px;

}

#content_music_title{
	width: 100%;
	height: 10%;
	border: solid 2px;
	border-color: red;
	font-weight: bold;
	font-size: 20px;
	position: relative; 
	top: 2px;
	right: 2px;

}

#content_music_list{
	width: 60%;
	height: 100%;
	border: solid 2px green;
	overflow: hidden;
}


#footer {
	width: 100%;
	background-color: gray;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index:0;
}

.footer-large {
	height: 90px;
	
	-webkit-transition:height 0.4s;
	-moz-transition:height 0.4s;
	-ms-transition:height 0.4s;
	transition:height 0.4s;
}
.footer-small{
	height: 30px;
	
	-webkit-transition:height 0.4s;
	-moz-transition:height 0.4s;
	-ms-transition:height 0.4s;
	transition:height 0.4s;
}
#searchdiv {
	width: 80%;
	background-color: blue;
	margin: 0 auto;
	position: relative;
	top: 50%;
}

/*	ITEMS	*/
#searchbox {
	font-size: 18px;
	width:80%;
	height: 39px; 
	border-top-left-radius: 5px;	
	border-bottom-left-radius: 5px;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	padding-left: 5px;
	vertical-align: middle;
	float: left;

}
#searchbtn {
	float: 	left;
	height: 43px;
	border-width: 1px;
	border-left: 0px;
	border-style: solid;
	border-color: gray;
	border-top-right-radius: 5px;	
	border-bottom-right-radius: 5px;
}

.sombreado {
    -moz-box-shadow: 	inset 0 2px 4px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.5);
    box-shadow: 		inset 0 2px 4px rgba(0,0,0,.5);
}

.img_video_size{
	width: 			150px;
	height: 		100px;
}


/* 	MUSIC ROWS 	*/ 

.row_music {
	clear: 			both;
	vertical-align: top;
    text-align: 	left;
	width:			100%;
	overflow:		visible;
	margin-bottom:	2px;

}

.cover_song {
	float:			left;
	width: 			75px;
	padding:		5px;
	border:			solid 1px blue;
	overflow:		hidden;
}
.cover_image {
	width: 			75px;
}

.cover_title {
	border: 		solid 2px red;
	font-size:		16px;
	padding: 		5px;
}
.video-player {
	height: 		100px;

}
